@model Admin

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="container p-3 mt-4 border">
        <div class="container fluid">
            <div class="row pb-2">
                <h2 class="text-info"> @(Model.Id == 0 ? "Add" : "Edit") Admin</h2>
            </div>
            <div class="row mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="email" />

                <span asp-validation-for="Email" class="text-bg-danger mx-1"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />

                <span asp-validation-for="Name" class="text-bg-danger mx-1"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />

                <span asp-validation-for="Password" class="text-bg-danger mx-1"></span>
            </div>
        </div>
        <div class="container align-content-end">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" style="width: 100px">Save</button>
                <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{

        <partial name="_ValidationScriptsPartial" />

    }

}
