@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center min-vh-100 py-5" style="margin-top: -80px; margin-bottom: -120px;">
    <div class="text-center">
        <div class="card border-0 shadow-sm rounded-4 p-4" style="width: 100%; max-width: 400px;">
            <div class="card-body text-center">
                <h2>
                    Welcome back to Chifrijo Bell CR
                </h2>
                <img src="~/images/logo/LogoChifrijo.ico" alt="Logo Chifrijo Bell" />
            </div>
        </div>
    </div>
</div>