<form>
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Customer list</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary">
                    <i class="bi bi-plus-circle m-2"></i>
                    New Customer
                </a>
            </div>
        </div>
    </div>

    <table id="tblData" class="table table-striped">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>IsAble</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</form>

@section Scripts {
    <script src="~/js/customer.js" asp-append-version="true"></script>
}