@model List<Dish>

<div>
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Dish list</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Dish" asp-action="Upsert" class="btn btn-outline-primary m-1">
                    <i class="bi bi-plus-circle m-1"></i>
                    New Dish
                </a>
            </div>
        </div>
    </div>

    <table class="table table-striped" id="tblData">
        <thead>
            <tr>
                <th>Name</th>
                <th>Available</th>
                <th>Actions</th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts {
    <script src="~/js/dish.js" asp-append-version="true"></script>

}
